asgiref==3.7.2
asttokens==2.2.1
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.22.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
comm==0.1.4
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
distlib==0.3.7
Django==4.2.4
executing==1.2.0
filelock==3.12.3
Flask==2.1.1
Flask-SocketIO==5.3.5
fonttools==4.39.4
gTTS==2.3.1
gunicorn==21.2.0
idna==3.3
ipykernel==6.25.1
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.1
joblib==1.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
kiwisolver==1.4.4
lxml==4.9.3
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
nltk==3.8.1
numpy==1.24.3
opencv-python==4.8.0.76
packaging==23.1
pandas==2.0.2
parso==0.8.3
pbr==5.11.1
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pycodestyle==2.10.0
Pygments==2.16.1
pyngrok==5.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.6.1
python-socketio==5.8.0
pytz==2023.3
pywin32==306
PyYAML==6.0
pyzmq==25.1.1
regex==2023.6.3
requests==2.27.1
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post5
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
stevedore==5.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.9
virtualenv==20.24.3
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.6
Werkzeug==2.1.1
pyttsx3
SpeechRecognition
wikipedia-api
datetime
wolframalpha
wikipedia
pyaudio


